<% provide(:page_title, 'Henry') %>

<div class="page-header">
    <h5 id="breadcrums"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;HOME / <%= yield(:page_title).upcase %> </h5>
</div>

<h1> I'm Henry Love. </h1>

<div class="row">
	<div class="col col-md-7" style="font-size:14px">
		<h3>I'm an electrical engineer,</h3>
		<ul>
			<li>a PhD student,</li>
			<li>a maker,</li>
			<li>a violinist,</li>
			<li>a runner,</li>
			<li>a plant lover,</li>
			<li>a dog dad.</li>
		</ul>

		<p>
			I am interested in communication and mixed-signal circuits and am currently working on interfacing the analog with the digital, both in the electrical and optical domains.
			<br><br>
			I share this site with my partner, Bibit.  My individual projects are below, but you can also see <%= link_to 'Bibit\'s work', bibit_path %> and <%= link_to 'our shared collaborations', bianchini_love_posts_path %>.
		</p>

		<!-- <%= link_to "Resume", "Resumes/Henry_Resume.pdf", class: "btn btn-default", :target => "_blank" %> -->
		<%= link_to "http://www.linkedin.com/in/henrylove", class: "btn btn-default", :target => "_blank" do %>
				LinkedIn&nbsp;<i class="fa fa-linkedin-square"></i>
		<% end %>
		<%= link_to "https://github.com/hlove18", class: "btn btn-default", :target => "_blank" do %>
				GitHub&nbsp;<i class="fa fa-github-square"></i></i>
		<% end %>
		<%= link_to "mailto:hwlove@seas.upenn.edu", class: "btn btn-default", :target => "_blank" do %>
				Email&nbsp;<i class="fa fa-envelope-o"></i></i>
		<% end %> <br> <br>
		<br>
	</div>
	<div class="col col-md-5" style="overflow: hidden">
		<%=image_tag("henry_hank_small.jpg", alt: "us", width: "100%")%>
	</div>

</div>


<h3>Henry's Project Posts</h3>


<%= render partial: "posts/display_posts", locals: {posts: @posts} %>